body > div#app > div#browser {
  /* addColor */
  --CCTransparent: var(--CCGrayAlpha);
  --CCGrayAlpha: #2e2f375d;
  --CCBgBlur: 6;

  --colorBorder: var(--CCGrayAlpha) !important;

  /* toolBar */
  :is(.UrlBar-AddressField, .UrlBar-SearchField),
  :is(.UrlBar-AddressField, .UrlBar-SearchField):is(:focus, :hover) {
    background-color: var(--CCTransparent);
    border-color: var(--colorBorder);
  }
  .mainbar {
    background-color: var(--CCTransparent);
    backdrop-filter: var(--CCBgBlur);
  }
  /* panel */
  select:not([multiple]):not([size]),
  input[type="date"],
  .dateInput {
    background-color: var(--CCTransparent);
    border-color: var(--colorBorder);
  }

  #panels-container {
    background-color: var(--CCTransparent);
  }
  /* button */
  .toolbar-default .button-toolbar {
    button:is(:disabled, :enabled) {
      background-color: var(--CCGrayAlpha);
      background-image: none;
    }
  }
  /* bookmark */
  .bookmark-bar {
    background-color: var(--CCTransparent);
    border-color: var(--colorBorder);
    * {
      background-color: transparent;
    }
  }

  /* tabBar */

  :not(.transparent-tabbar) #tabs-tabbar-container {
    background-color: var(--CCTransparent);
    backdrop-filter: var(--CCBgBlur);
  }

  .tabbar-wrapper
    > .tabbar-wrapper
    .button-toolbar.workspace-popup.tabbar-workspace-button {
    background-color: var(--CCTransparent);
  }

  /* others */
  .tab-position .tab {
    background-color: transparent;
  }

  /* active */
  .tab-position .tab.active {
    background-color: var(--CCGrayAlpha);
  }
  /* hover */
  .color-behind-tabs-on button:is(:focus, :hover) {
    background-color: var(--CCGrayAlpha) !important;
  }
}
